{% extends "base.html" %}
{% load static %}
{% block title %} <title> Chi siamo - Liceo Marconi Delpino </title> {% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
  <h1>Chi siamo - La nostra storia</h1>
</div>
<div style="padding:15px;"class="card-text"><p align="justify" />
  A partire dall’ anno scolastico 2014-2015 a Chiavari è nata una nuova realtà scolastica, che ha riunito le tradizionali licealità presenti sul territorio dando vita a un unico polo formato dal : Liceo scientifico “G.Marconi”, dal Liceo classico, delle scienze umane e LES “F. Delpino”.
<br><br>
  Entrambi i licei vantano una lunga storia e possono annoverare tra i loro alunni generazioni di studenti, alcuni dei quali hanno poi segnato con le loro competenze l’ambito socio-economico non solo del Tigullio, ma anche nazionale e internazionale.
<br><br>
  I Licei, che in un recente passato avevano già condiviso una più che decennale storia comune, si avviano ora ad un percorso unitario, che rafforza l’identità formativa pur conservando le specificità che li hanno caratterizzati e che continuano a essere la loro forza.
<br><br>
<b>  Liceo scientifico G. Marconi</b>
<br><br>
  L’Istituto inizia la sua attività nel 1941, come succursale del Liceo Scientifico “G.D. Cassini” di Genova, con sede in via delle Saline, a Chiavari, nell’edificio della Scuola Elementare.<br>
<br><br>
  Nel 1946 diviene Liceo autonomo, con l’attuale intitolazione.
<br><br>
  Nel 1963 il Liceo viene spostato nell’attuale sede di Piazza del Popolo, con annessa succursale ubicata nell’edificio Assarotti. Dal 1996 al 2008 l’accorpamento del Liceo Classico e Socio-Psico-Pedagogico “Federico Delpino”ne fa il plesso scolastico più ampio del Levante ligure. A partire dall’anno scolastico 2009/10 le due scuole riacquistano la loro autonomia fino alla nascita , a partire da quest’anno scolastico, del nuovo polo liceale.
<br><br>
  <b> Liceo Classico F. Delpino</b>
<br><br>
  Il Ginnasio è nato nel 1749 ad opera dei Padri Scolopi ed è stato conservato in vita con Regio Decreto nel 1817. Dopo l’Unità d’Italia è stato trasformato in Liceo pareggiato (1863) e convertito in Liceo Governativo nel 1909 (G. U. n. 31 del 1910).
<br><br>
  L’Istituto è stato intitolato all’insigne naturalista chiavarese Federico Delpino (1833- 1905) con R. D. pubblicato nella G. U. n. 95 del 24-4-1910.
<br><br>
  La sede di via D. Gagliardo, che ospitava il liceo “F. Delpino” dal 1911, è stata sostituita dall’anno scolastico 2015-2016 con la nuova sede, collocata in salita Gianelli 6.
<br><br>
  L’impianto formativo del Liceo classico, potenziato nel corso della sua storia grazie a diverse sperimentazioni, ha conservato inalterata la sua fisionomia fino alla recente Riforma dei cicli superiori, che ne ha ulteriormente valorizzato le peculiarità e i punti di forza.
<br><br>
<b>   Liceo delle Scienze Umane e Liceo Economico Sociale</b>
<br><br>
  Istituito nel 1994 come emanazione del Liceo Classico, è oggi un indirizzo indipendente che raccoglie un bacino di utenza molto ampio, da Levanto alla Fontanabuona, alla Val Trebbia, al Golfo Paradiso.
<br><br>
  Nato come “Progetto Brocca”, comprende materie caratterizzanti l’indirizzo accanto ad alcune innovative che rappresentano un ampliamento delle conoscenze di base, unendo quindi le Scienze Umane (Psicologia, Pedagogia, Sociologia, Filosofia, Antropologia) a Diritto, Scienza della Terra e a tutte le altre discipline tipiche di un Liceo (Latino, Italiano, Matematica, Lingua Straniera, Arte, Musica).
<br><br>
  Con la Riforma Gelmini, avviata dall’ anno scolastico 2010-2011, il Liceo SPP è diventato Liceo delle Scienze Umane e prevede due opzioni, la prima con il latino e la seconda, ad indirizzo economico-sociale, con due lingue straniere,diritto ed economia, operativa dall’ anno scolastico 2012-2013.
<br><br>
  Il Liceo delle Scienze Umane si presenta, quindi, nella sua completezza di assetto e può certamente evidenziare la modernità che ne caratterizza l’impianto didattico, decisamente in linea con una società in continua trasformazione in cui lo studio dell’economia e del diritto risultano a tutti gli effetti indispensabili per la formazione di un cittadino consapevole.


</div></div>
{% endblock %}
