{% extends "base.html" %}
{% load static %}
{% block title %} <title> Orari - Liceo Marconi Delpino </title> {% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
  <h1>URP Segreteria e Ufficio Relazioni Pubblico</h1>
</div>
<div class="card-text">

<br><br>
Ricevimento Dirigente Scolastico:<b> Prof.ssa Paola Salmoiraghi</b> <br>

Il Dirigente Scolastico riceve previo appuntamento telefonico.<br>

Ricevimento Direttore dei Servizi Amministrativi: <b>Dott.ssa Fernanda Gabbriellini </b><br>

Il Direttore dei Servizi Amministrativi  riceve  previo appuntamento telefonico.<br><br><br>



<h2>ORARIO SPORTELLO di SEGRETERIA</h2>
(Si riceve solo per appuntamento)


</div>


<center>
<br>
<img src="{% static '\Images\Orario.PNG' %}" class="img-fluid" alt="Responsive image">
<br><br>
</center>
</div>


{% endblock %}
