{% extends "base.html" %}

{% block title %} <title> Contattaci - Liceo Marconi Delpino </title> {% endblock %}

{% block content %}
<div id="box1">
<h2>Liceo Scientifico Classico Scienze Umane Marconi Delpino </h2>
<h3>Dirigente Scolastico</h3>
<h3>Prof. ssa Paola Salmoiraghi</h3>
<p>tel + 39 0185 363057</p>
<p>email geps17000a@istruzione.it</p>
<p>pec geps17000a@pec.istruzione.it </p>
</div>
<div id="box2">
<h2>Liceo Scientifico</h2>
<h3>Responsabile (Sede)</h3>
<p>tel + 39 0185 363057</p>
<h3>Responsabile (succursale Assarotti)</h3>
<h3>Prof. Paola Talassi</h3>
<p>tel + 39 0185 321309</p>
</div>
<div id="box3">
<h2>Liceo Scienze Umane (LSU e LES)</h2>
<h3>Responsabile succursale Maria Luigia</h3>
<h3>Prof. Pino Eliseo Staropoli</h3>
<p>tel + 39 0185 322346</p>
<h3>Responsabile succursale Via Castagnola</h3>
<h3>Prof. Antonella Perugi</h3>
<p>tel + 39 0185 307468</p>
</div>
<div id="box4">
<h2>Liceo Classico</h2>
<h3>Responsabile Succursale Gianelli</h3>
<h3>Prof. Cristina Martellacci</h3>
<p>tel + 39 0185 309864</p>
</div>
{% endblock %}
