{% extends "base.html" %}

{% block title %} <title> Orari - Liceo Marconi Delpino </title> {% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">SEDE  - Piazza Caduti Nassiriya N. 14 Chiavari</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lunedì</th>
      <td>Mark</td>
  </tr>
    <tr>
      <th scope="row">Martedì</th>
      <td>Jacob</td>
  </tr>
    <tr>
      <th scope="row">Mercoledì</th>
      <td>Larry</td>
  </tr>
  <tr>
    <th scope="row">Giovedì</th>
    <td>Larry</td>
</tr>
<tr>
  <th scope="row">Venerdì</th>
  <td>Larry</td>
</tr>
  </tbody>
</table>


{% endblock %}
