.img-fluid{
  padding-bottom: 5px;
}
/* Sticky Footer Classes */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color:#8bbdc4;
}

.dontgrow {
    flex-grow: 0;
    display: flex;}

.content {
    display: flex;
    flex-direction: column;
    max-width:1200px;
    background-color:white;
    margin:auto;
    height:100%;
    flex 0 0 auto;}


.sticky-footer {
  display: flex;
  flex-grow 0;
}

/* Other Classes for Page Styling */
