.img-fluid{
  padding-bottom: 5px;
}
/* Sticky Footer Classes */

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color:#8bbdc4;
}

.dontgrow {
    flex-grow: 0;
    display: flex;}

.content {text-align: center}

.wholepage {
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width:1200px;
    background-color:white;
    margin:auto;
    min-height:100vh;}


.sticky-footer {
  display: flex;
  flex-grow 0;
}

.centred-div {
  display: inline-block;
}

/* Other Classes for Page Styling */
