{% extends "base.html" %}

{% block title %} <title> PCTO - Liceo Marconi Delpino </title> {% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
<h1>Percorsi per le competenze trasversali e per l'orientamento</h1>
</div>
<div class="card-body">
<p>L'Alternanza scuola-lavoro, la cui denominazione a seguito dell'Art.57, comma 18 della Legge di BILANCIO 2019 è stata rinominata P.C.T.O., è una modalità didattica innovativa, che attraverso l'esperienza pratica aiuta a consolidare le conoscenze acquisite a scuola e testare sul campo le attitudini di studentesse e studenti, ad arricchirne la formazione e a orientarne il percorso di studio e, in futuro di lavoro, grazie a progetti in linea con il loro piano di studi.</a> </p>
</div></div>
{% endblock %}
