<!-- Struttura Menù di base-->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    {% load static %}
    <link rel="stylesheet" href= "{% static '/css/style.css' %}" type="text/css">
    {% block title %}<title>Home del Liceo Marconi Delpino</title>{% endblock %}
</head>
<body id="bordo" >
<center>

    <div style="width:960px"  >

        <img src= "{% static '/Images/headerHome.png' %}" width="960px" height="220px" vspace="10" >
        <ul id="menu">
            <li><a  href= "{% url 'index' %}" >Home</a></li>
            <li><a  href= "{% url 'dove' %}" >Dove siamo</a>
            <li><a  href= "{% url 'notizie' %}" >Notizie</a>
            </li>
            <li><a>Chi siamo</a>
                <ul>
                    <li><a href="{% url 'contatti' %}">Contatti</a></li>
                    <li><a href="{% url 'orari' %}">Orari</a></li>
                    <li><a href="{% url 'organigramma' %}">Organigramma</a></li>
                </ul>



            </li>
            <li><a>Servizi</a>
                <ul>
                    <li><a href="{% url 'iscrizione' %}">Iscrizione</a></li>
                    <li><a href="https://www.portaleargo.it/argoweb/famiglia/common/login_form2.jsp">Argo</a></li>
                </ul>
            </li>
            <li><a>Progetti</a>
                <ul>
                    <li><a href="{% url 'cyberbullismo' %}">Cyberbullismo</a></li>
                    <li><a href="{% url 'PON' %}">PON</a></li>
                    <li><a href="{% url 'PCTO' %}">PCTO</a></li>
                </ul>

            </li>
            <li><a  href="https://blogermes.wordpress.com/informazioni/">Rivista Ermes</a>
            </li>
        </ul>
    </div>
{% block content %}{% endblock %}
</center>

</body>
<div style="padding:20px;
	margin-top:30px;
	background-color:white;
	height:10px;">
</div>





<footer class="footer">


    <li class="nav__item">


      <ul class="nav__ul">
        <li>
          <a href="Privacy">Privacy Policy</a>
        </li>

        <li>
          <a href="https://www.trasparenza-pa.net/?codcli=SG27938">Amministrazione trasparente</a>
        </li>

        <li>
          <a href="https://www.albipretorionline.com/albopretorioPF3/frontend/atti.xhtml?codcli=SG27938">Albo pretorio</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2020 Liceo Marconi Delpino All rights reserved.</p>

    <div class="legal__links">

    </div>
  </div>

</footer>

<!-- Struttura Menù di base-->
