<!-- Struttura Menù di base-->
<!DOCTYPE html>

<!-- STILI E LINK-->

<head>
    <meta charset="UTF-8"/>
    {% load static %}
    <link rel="stylesheet" href= "{% static '/css/style.css' %}" type="text/css">
    {% block title %}<title>Home del Liceo Marconi Delpino</title>{% endblock %}
<script src="https://kit.fontawesome.com/e5ca0055b3.js" crossorigin="anonymous"></script>
</head>






<body>
<center>

    <img src= "{% static '/Images/headerHome.png' %}" width="960px" height="220px" vspace="10" >

<!-- NAVBAR-->

    <div>
        <ul id="menu">
            <li><a  href= "{% url 'index' %}" ><i class="fas fa-home"> Home</i></a></li>
            <li><a  href= "{% url 'dove' %}" ><i class="fas fa-map-marked-alt"></i> Dove siamo</a>
            <li><a  href= "{% url 'notizie' %}" ><i class="fas fa-newspaper"></i> Notizie</a>
            </li>

           <li><a><i class="fas fa-users"></i> Chi siamo</a>
                <ul>
                    <li><a href="{% url 'contatti' %}"><i class="far fa-address-book"></i> Contatti</a></li>
                    <li><a href="{% url 'orari' %}"><i class="far fa-clock"></i> Orari</a></li>
                    <li><a href="{% url 'organigramma' %}"><i class="fas fa-sitemap"></i> Organigramma</a></li>
                </ul>



            </li>
            <li><a><i class="fas fa-hands-helping"></i> Servizi</a>
                <ul>
                    <li><a href="{% url 'iscrizione' %}"><i class="fas fa-user-plus"></i> Iscrizione</a></li>
                    <li><a href="http://www.sg27938.scuolanext.info/"><i class="fas fa-chalkboard"></i> Argo</a></li>
                    <li><a href="https://cercalatuascuola.istruzione.it/cercalatuascuola/"><i class="fas fa-school"></i> Scuola in chiaro</a></li>
                </ul>
            </li>
            <li><a><i class="fas fa-project-diagram"></i> Progetti</a>
                <ul>
                    <li><a href="{% url 'cyberbullismo' %}"><i class="fas fa-user-slash"></i> Cyberbullismo</a></li>
                    <li><a href="https://www.istruzione.it/pon/"><i class="fas fa-euro-sign"></i> PON</a></li> <!--da denifinire-->
                    <li><a href="{% url 'PCTO' %}"><i class="fas fa-briefcase"></i> PCTO</a></li>
                </ul>

            </li>
            <li><a  href="https://blogermes.wordpress.com/informazioni/"><i class="fas fa-feather-alt"></i> Rivista Ermes</a>

            </li>

            <li><a><i class="fas fa-external-link-alt"></i> Link istituzionali</a>
                <ul>
            <li>
                <a href="{% url 'privacy' %}"><i class="fas fa-key"></i> Privacy Policy</a>
            </li>

            <li>
                <a href="https://www.trasparenza-pa.net/?codcli=SG27938"><i class="fas fa-book-open"></i> Amministrazione<br> trasparente</a>
            </li>

            <li>
                <a href="https://www.albipretorionline.com/albopretorioPF3/frontend/atti.xhtml?codcli=SG27938"><i class="fas fa-balance-scale"></i> Albo pretorio</a>
              </li>

              <li>
                  <a href="https://mad.portaleargo.it/"><i class="fas fa-chalkboard"></i> Argo MAD</a>
                </li>
                <li>
                    <a href="{% url 'albo' %}"><i class="fas fa-user-shield"></i> Albo sindacale</a>
              </li>




            </ul>
                <li><a  href="{% url 'admin:index' %}"><i class="fas fa-lock"></i> Login</a>
                    </li>
         </ul>
      </div>



<!-- STICKY NAVBAR-->

    <script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("menu");
var sticky = menu.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    menu.classList.add("sticky")
  } else {
    menu.classList.remove("sticky");
  }
}
</script>




    <div style="padding:20px;
	margin-top:30px;
	background-color:white;
	height:10px;">
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>
</center>
{% block offcenter %}{% endblock %}
</body>



<div style="padding:20px;
	margin-top:30px;
	background-color:white;
	height:10px;">
</div>



<!-- FOOTER-->

<footer class="footer">

  <div class="legal">

        <p>&copy; 2020 Liceo Marconi Delpino All rights reserved.</p>

<div class="legal__links">

        </div>
    </div>

</footer>

<!-- Struttura Menù di base-->
