<!-- Struttura Menù di base-->
<!DOCTYPE html>

<!-- STILI E LINK-->

<head>
    <meta charset="UTF-8"/>
    {% load static %}
    <link rel="stylesheet" href= "{% static '/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% block title %}<title>Home del Liceo Marconi Delpino</title>{% endblock %}
<script src="https://kit.fontawesome.com/e5ca0055b3.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>






<body>


    <img src= "{% static '/Images/headerHome.png' %}" class="img-fluid" alt="Responsive image">

<!-- NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dove' %}">Dove siamo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notizie' %}">Notizie</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Chi siamo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'contatti' %}">Contatti</a>
          <a class="dropdown-item" href="{% url 'orari' %}">Orari</a>
          <a class="dropdown-item" href="{% url 'organigramma' %}">Organigramma</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Servizi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'iscrizione' %}">Iscrizione</a>
          <a class="dropdown-item" href="http://www.sg27938.scuolanext.info/">Argo</a>
          <a class="dropdown-item" href="https://cercalatuascuola.istruzione.it/cercalatuascuola/">Scuola in chiaro</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Progetti
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'cyberbullismo' %}">Cyberbullismo</a>
          <a class="dropdown-item" href="https://www.istruzione.it/pon/">PON</a>
          <a class="dropdown-item" href="{% url 'PCTO' %}">PCTO</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://blogermes.wordpress.com/informazioni/">Rivista Ermes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Link istituzionali
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'privacy' %}">Privacy Policy</a>
          <a class="dropdown-item" href="https://www.trasparenza-pa.net/?codcli=SG27938">Amministrazione trasparente</a>
          <a class="dropdown-item" href="https://mad.portaleargo.it/">Argo MAD</a>
            <a class="dropdown-item" href="{% url 'albo' %}">Albo sindacale</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Login</a>
      </li>
    </ul>
  </div>
</nav>












<!-- STICKY NAVBAR-->

    <script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("menu");
var sticky = menu.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    menu.classList.add("sticky")
  } else {
    menu.classList.remove("sticky");
  }
}
</script>




    <div style="padding:20px;
	margin-top:30px;
	background-color:white;
	height:10px;">
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>

{% block offcenter %}{% endblock %}
</body>



<div style="padding:20px;
	margin-top:30px;
	background-color:white;
	height:10px;">
</div>



<!-- FOOTER-->

<footer class="footer">

  <div class="legal">

        <p>&copy; 2020 Liceo Marconi Delpino All rights reserved.</p>

<div class="legal__links">

        </div>
    </div>

</footer>
    </div>
<!-- Struttura Menù di base-->
