{% extends "base.html" %}

{% block title %} <title> Privacy notizie </title> {% endblock %}

{% block content %}
<div id="box13">
<h1>PERCHÉ QUESTE INFORMAZIONI</h1>
</div>
<div id="box14">
<p><a>Ai sensi del Regolamento (UE) 2016/679 (di seguito "Regolamento"), questa pagina descrive le modalità di trattamento dei dati personali degli utenti che consultano i siti web del Liceo Statale Scientifico e Classico "Marconi Delpino di Chiavari (di seguito "Ente") accessibili per via telematica ai seguenti indirizzi:
<br>
  <a href="https://www.marconidelpino.edu.it">https://www.marconidelpino.edu.it</a>
<br>
    <a href="http://trasparenza-pa.net/?codcli=SG27938">http://trasparenza-pa.net/?codcli=SG27938</a>
<br>
    <a href="https://www.albipretorionline.com/albopretorioPF3/frontend/atti.xhtml?codcli=SG27938">https://www.albipretorionline.com/albopretorioPF3/frontend/atti.xhtml?codcli=SG27938</a>
<br>
Le presenti informazioni non riguardano altri siti, pagine o servizi online raggiungibili tramite link ipertestuali eventualmente pubblicati nei siti ma riferiti a risorse esterne al dominio dell'Ente.

</a> </p>
</div>
<div id="box13">
<h1>TITOLARE DEL TRATTAMENTO</h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
<div id="box13">
<h1></h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
<div id="box13">
<h1></h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
<div id="box13">
<h1></h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
<div id="box13">
<h1></h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
<div id="box13">
<h1></h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
<div id="box13">
<h1></h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
<div id="box13">
<h1></h1>
</div>
<div id="box14">
<p><a></a> </p>
</div>
{% endblock %}
