{% extends "base.html" %}

{% block title %} <title> Privacy notizie </title> {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
  <h3>
INFORMAZIONI  SUL TRATTAMENTO DEI DATI PERSONALI
degli utenti che consultano il sito web del Liceo Statale Scientifico-Classico "Marconi-Delpino di Chiavari, ai sensi dell'articolo 13 del Regolamento (UE) 2016/679
</h3>
</div></div>

<div class="card">
    <div class="card-header">
<h4>PERCHÉ QUESTE INFORMAZIONI</h4>
</div></div>
<div class="card">
    <div class="card-body">
<p>Ai sensi del Regolamento (UE) 2016/679 (di seguito "Regolamento"), questa pagina descrive le modalità di trattamento dei dati personali degli utenti che consultano i siti web del Liceo Statale Scientifico e Classico "Marconi Delpino di Chiavari (di seguito "Ente") accessibili per via telematica ai seguenti indirizzi:
<br>
  <a href="https://www.marconidelpino.edu.it">https://www.marconidelpino.edu.it</a>  <!-- da verificare nuovo indirizzo-->
<br>
    <a href="http://trasparenza-pa.net/?codcli=SG27938">http://trasparenza-pa.net/?codcli=SG27938</a>
<br>
    <a href="https://www.albipretorionline.com/albopretorioPF3/frontend/atti.xhtml?codcli=SG27938">https://www.albipretorionline.com/albopretorioPF3/frontend/atti.xhtml?codcli=SG27938</a>
<br>
Le presenti informazioni non riguardano altri siti, pagine o servizi online raggiungibili tramite link ipertestuali eventualmente pubblicati nei siti ma riferiti a risorse esterne al dominio dell'Ente.

 </p>
</div></div>

<div class="card">
    <div class="card-header">
<h4>TITOLARE DEL TRATTAMENTO</h4>
</div></<div>
<div class="card">
    <div class="card-body">
<p>A seguito della consultazione dei siti sopra elencati possono essere trattati dati relativi a persone fisiche identificate o identificabili.
Titolare del trattamento è Liceo Statale Scientifico e Classico "Marconi Delpino, con sede in Chiavari. (Email: geps17000a@istruzione.it., PEC: geps17000a@pec.istruzione.it, centralino +39 0185/363057). </p>
</div></div>
<div class="card">
    <div class="card-header">
<h4>RESPONSABILE DELLA PROTEZIONE DEI DATI</h4>
</div></<div>
<div class="card">
  <div class="card-body">
<p>Il Responsabile della Protezione dei Dati (RPD) è il dott. ing. Andreino Garibaldi, raggiungibile al seguente indirizzo: Liceo Sttale Scientifico Classico "Marconi-Delpino" - Responsabile della Protezione dei dati personali, Piazza Caduti di Nassiriya n. 14 16043 Chiavari (Email: andreino.garibaldi@libero.it, PEC: andreino.garibaldi@ingpec.eu). </p>
</div></div>
<div class="card">
    <div class="card-header">
<h4>BASE GIURIDICA DEL TRATTAMENTO</h4>
</div></<div>
<div class="card">
  <div class="card-body">
<p>   I dati personali indicati in questa pagina sono trattati dall'Ente nell'esecuzione dei propri compiti di interesse pubblico o comunque connessi all'esercizio dei propri pubblici poteri e funzioni, nonché per consentire un'efficace comunicazione istituzionale e per adempiere ad eventuali obblighi di legge, regolamentari o contrattuali.         </p>
</div></div>
<div class="card">
    <div class="card-header">
<h4>TIPI DI DATI TRATTATI E FINALITÀ DEL TRATTAMENTO</h4>
</div></div>

    <div class="card-header">
  <h5>Dati di navigazione</h5>
</div>


    <div class="card-body">
<p> I sistemi informatici e le procedure software preposte al funzionamento dei siti web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet.
In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer e dei terminali utilizzati dagli utenti, gli indirizzi in notazione URI/URL (Uniform Resource Identifier/Locator) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente.
Tali dati, necessari per la fruizione dei servizi web, vengono anche trattati allo scopo di:
ottenere informazioni statistiche sull'uso dei servizi (pagine più visitate, numero di visitatori per fascia oraria o giornaliera, aree geografiche di provenienza, ecc.);
controllare il corretto funzionamento dei servizi offerti.
I dati di navigazione non persistono per più di 30 giorni e vengono cancellati immediatamente dopo la loro aggregazione (salve eventuali necessità di accertamento di reati da parte dell'Autorità giudiziaria).

             </p>
             </div>


                   <div class="card-header">
<h5>Dati comunicati dall'utente</h5>
</div>

  <div class="card-body">
<p>  L'invio facoltativo, esplicito e volontario di messaggi agli indirizzi di contatto dell'Ente, nonché la compilazione e l'inoltro dei moduli presenti sui siti dell'Ente, comportano l'acquisizione dei dati di contatto del mittente, necessari a rispondere, nonché di tutti i dati personali inclusi nelle comunicazioni.
Specifiche informative verranno pubblicate nelle pagine dei siti dell'Ente predisposte per l'erogazione di determinati servizi.            </p> </<div>
</div>

      <div class="card-header">
<h5>Cookie e altri sistemi di tracciamento</h5>
</div>


  <div class="card-body">
<p> Non viene fatto uso di cookie per la profilazione degli utenti, né vengono impiegati altri metodi di tracciamento.
Viene invece fatto uso di cookie di sessione (non persistenti) in modo strettamente limitato a quanto necessario per la navigazione sicura ed efficiente dei siti. La memorizzazione dei cookie di sessione nei terminali o nei browser è sotto il controllo dell'utente, laddove sui server, al termine delle sessioni HTTP, informazioni relative ai cookie restano registrate nei log dei servizi, con tempi di conservazione comunque non superiori ai 30 giorni al pari degli altri dati di navigazione.            </p>

</div></div>
<div class="card">
    <div class="card-header">
<h4>DESTINATARI DEI DATI</h4>
</div></div>


<div class="card">
  <div class="card-body">
<p>  Sono destinatari dei dati raccolti a seguito della consultazione dei siti sopra elencati i seguenti soggetti, ai sensi dell'articolo 28 del Regolamento, quali fornitori delle piattaforme web di navigazione:
Aruba S.p.A. – Via San Clemente, 53 - 24036 Ponte San Pietro (BG)
ARGO SOFTWARE s.r.l. – Sede legale: Viale 24 N. 7 Zona Industriale III Fase 97100 Ragusa
I dati di navigazione possono essere acceduti da personale, prevalentemente tecnico, autorizzato al trattamento, o da eventuali persone autorizzate per occasionali ed esclusive operazioni di manutenzione tecnica e informatica.
I dati personali raccolti sono altresì trattati dal personale dell'Ente, che agisce sulla base di specifiche istruzioni fornite in ordine a finalità e modalità del trattamento medesimo.         </p>
</div></div>

<div class="card">
    <div class="card-header">
<h4>TRASFERIMENTO DEI DATI ALL'ESTERO</h4>
</div></div>

<div class="card">
  <div class="card-body">
<p>  I dati non vengono trasferiti a paesi terzi al di fuori dell'Unione europea e dello Spazio Economico Europeo né trasferiti a organizzazioni internazionali.         </p>
</div></div>
<div class="card">
    <div class="card-header">
<h4>DIRITTI DEGLI INTERESSATI</h4>
</div></div>

<div class="card">
  <div class="card-body">
<p> Gli interessati hanno il diritto di ottenere dall'Ente, nei casi previsti, l'accesso ai dati personali e la rettifica o la cancellazione degli stessi o la limitazione del trattamento che li riguarda o di opporsi al trattamento (artt. 15 e ss. del Regolamento). L'apposita istanza all'Ente è presentata contattando il Responsabile della protezione dei dati (Email: andreino.garibaldi@libero.it, PEC: andreino.garibaldi@ingpec.eu).    </p>
</div></div>

<div class="card">
    <div class="card-header">
<h4>DIRITTO DI RECLAMO</h4>
</div></div>

<div class="card">
  <div class="card-body">
<p> Gli interessati che ritengono che il trattamento dei dati personali a loro riferiti effettuato attraverso questo sito avvenga in violazione di quanto previsto dal Regolamento hanno il diritto di proporre reclamo al Garante, come previsto dall'art. 77 del Regolamento stesso, o di adire le opportune sedi giudiziarie (art. 79 del Regolamento).        </p>
</div></div>

{% endblock %}
