{% extends "base.html" %}

{% block title %} <title> Home del liceo Marconi Delpino </title>
{% load static %}

{% endblock %}

{% block content %}
<center>
<div style="max-width:1300px;
max-height:1000px;
padding:50px;
font-size:33px; ">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  {% for post in post_list %}
<li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" id="slideshow_ind_{{ forloop.counter }}"></li>
  {% endfor %}
</ol>

<div class="carousel-inner">

    {% for post in post_list %}

  <div class="carousel-item" id="slideshow_{{ forloop.counter }}">
      <img class="d-block w-100" src="{{ post.image.url }}" alt="">
      <div class="carousel-caption d-none d-md-block">
  {{ post.title }}
  </div>
    </div>


    {% endfor %}


    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<script>
  document.getElementById("slideshow_1").classList.add("active")
  document.getElementById("slideshow_ind_1").classList.add("active")
</script>
</div>
</center>
{% endblock %}
