{% extends "base.html" %}

{% block title %} <title> Home del liceo Marconi Delpino </title>
{% load static %}
<link rel="stylesheet" href= "{% static '/css/slideshow.css' %}" type="text/css">
<script type="text/javascript" src="{% static '/javascript/slideshow.js' %}"></script>
{% endblock %}

{% block content %}

<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
    {% for post in post_list %}
                <div class="mySlides fade">
                    <div class="numbertext"> {{ forloop.counter }}/{{ post_list|length }} </div>
                    <a href="{% url 'post_detail' post.slug  %}"><img class="divimg" src="{{ post.image.url }}" alt="img"></a>
                    <a href="{% url 'post_detail' post.slug  %}"><div class="text">{{ post.title }}</div></a>
                </div>
    {% endfor %}

    <a class="prev" onclick="plusClick(-1)">&#10094;</a>
    <a class="next" onclick="plusClick(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    {% for post in post_list %}
  <span class="dot" onclick="showClick( {{ forloop.counter }} )"></span>
    {% endfor %}
</div>

<script type="text/javascript">
    window.onload = showSlides(1);
    resetSlide(5000);
</script>


{% endblock %}
