{% extends 'base.html' %}

{% block title %}
<title>{{ object.title }}</title>
{% endblock title %}



{% block content %}

<div class="card">
        <h1 class="card-header"> {{ object.title }} </h1>
  <div class="card-body">
 <img  src="{{ post.image.url }}" class="img-fluid" alt="Responsive image">
   <div class="card-text">
    <p class="card-text ">{{ object.content | safe }}</p>
    <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
    </div>
  </div>
</div>

{% endblock %}
