{% extends "base.html" %}

{% block title %}
<title> Sezione notizie </title>

{% endblock %}

{% block offcenter %}

    {% for post in post_list %}

            <div>

                    <h2 id="postsetting1">{{ post.title }}</h2>



                    <a href="{% url 'post_detail' post.slug  %}"><img id=postpic src="{{ post.image.url }}" alt="img" align="left"; id=postsetting2></a>


                     <p id="postsetting3">{{post.content|slice:":200" }}</p>

                    <p id="postsetting4">{{ post.author }} | {{ post.created_on}} </p>

                </div>

    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

</div>


{% endblock %}
