{% extends "base.html" %}

{% block title %}
<title> Sezione notizie </title>
{% load static %}
<link rel="stylesheet" href= "{% static '/css/news.css' %}" type="text/css">
{% endblock %}

{% block content %}

    {% for post in post_list %}
            <div>
                <div>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.author }} | {{ post.created_on}} </p>
                    <p>{{post.content|slice:":200" }}</p>
                    <img id=postpic src="{{ post.image.url }}" alt="img">


                </div>
            </div>
    {% endfor %}

{% endblock %}